.slick-dots.slick-thumb {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.slick-dots.slick-thumb li {
  width: auto;
}

.slick-dots.slick-thumb li img {
  width: 100px;
  height: auto;
  display: block;
}
.slider-container img {
  margin-left: auto;
  margin-right: auto;
}
.slider-container {
  min-height: 100vh;
  overflow: hidden;
}
.slick-list {
  height: auto;
}
.nav-link {
  font-size: 1.3rem;
}

.nav-link.active {
  color: "#fb341f";
}
.star .star-rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.star {
  font-size: 60px;
  cursor: pointer;
}

.star.active {
  color: gold;
}

.rating-container {
  display: flex;
}

.star:hover,
.star:has(~ .star:hover) {
  color: gold;
}

.disabled {
  font-size: 30px;
  cursor: default;
  pointer-events: none;
}
